@mixin Breakpoints($point) {
    @if $point ==mobile {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $point ==small {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $point ==medium {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $point ==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin Animtation($Time, $Type, $Prop) {
    transition: $Time $Type $Prop;
}

$BaseColor: #014994;

$FreeColor: #1e5744;

$SecondColor: #d1e8df;

@mixin Title() {
    color: $BaseColor;
    margin: 0px 20px;
}

.title {
    @include Title();
}

.bg-main {
    background-color: $BaseColor !important;
}

.font-color {
    color: $BaseColor;
}

@mixin Scrolled() {
    height: 100px;
    width: 80%;
    top: 20px;
    left: calc(20%/2);
    border-radius: 50px;
    background-color: white !important;
    border: solid $BaseColor 1px;
    @include Animtation(0.3s, ease-out, all);

    p {
        padding-top: 20px;
        color: $BaseColor !important;

        &.ActiveLink {
            &::after {
                border-color: $BaseColor;
            }
        }

        &:hover {
            &::after {
                border-color: $BaseColor;
            }
        }
    }

    img {
        margin-bottom: 15px;
        filter: none !important;
        width: 150px;
    }
}